{% extends "base.html" %}

{% load currency_tags %}
{% block content %}
<div class="container mt-4">
    <h2>Saved Build Preview</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-3">
                <p><strong>Total Price:</strong> {{ currency|currency_symbol }}{{ price|convert_from_usd:currency|floatformat:2 }}
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-3">
                <p><strong>Total Score:</strong> {{ score }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">CPU</div>
                <div class="card-body">
                    <h5>{{ cpu.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ cpu.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ cpu.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Graphics Card</div>
                <div class="card-body">
                    <h5>{{ gpu.gpu_name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ gpu.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ gpu.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Motherboard</div>
                <div class="card-body">
                    <h5>{{ motherboard.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ motherboard.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>Chipset: {{ motherboard.chipset }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">RAM</div>
                <div class="card-body">
                    <h5>{{ ram.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ ram.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ ram.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Storage</div>
                <div class="card-body">
                    <h5>{{ storage.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ storage.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ storage.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Power Supply</div>
                <div class="card-body">
                    <h5>{{ psu.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ psu.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ psu.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">CPU Cooler</div>
                <div class="card-body">
                    <h5>{{ cooler.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ cooler.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ cooler.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Case</div>
                <div class="card-body">
                    <h5>{{ case.name }}</h5>
                    <p>Price: {{ currency|currency_symbol }}{{ case.price|convert_from_usd:currency|floatformat:2 }}</p>
                    <p>UserBenchmark: {{ case.userbenchmark_score }}</p>
                </div>
            </div>
        </div>

    </div>



</div>
{% endblock %}
