{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="content-center-v">
<div class="container col-md-7 mx-auto">
<div class="card p-3 shadow-md">
    <form id="buildForm" method="post" action="{% url 'calculate_build' %}">
        {% csrf_token %}
        {{ form.budget|as_crispy_field }}
        {{ form.currency|as_crispy_field }}
        {{ form.build_type|as_crispy_field }}
        {{ form.resolution|as_crispy_field }}

        <!-- Hidden filters -->
        <div id="advancedFilters" class="collapse">
            {{ form.cpu_brand|as_crispy_field }}
            {{ form.gpu_brand|as_crispy_field }}
            {{ form.ram_size|as_crispy_field }}
            {{ form.storage_capacity|as_crispy_field }}
        </div>

        <!-- Toggle button placed at the bottom after rendering extra filters -->
        <div class="mt-2">
            <button type="button" class="btn btn-link" id="toggleFilters">
                Show advanced filters
            </button>
        </div>

    <button class="btn btn-outline-primary w-100 mt-2" type="submit">Calculate</button>
    </form>
    </div>


    <!-- Progress area (messages list) -->
        <div id="progressArea" class="mt-4"></div>

        <!-- Build Progress Modal -->
        <div class="modal fade" id="buildProgressModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Calculating best build</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="buildProgressMsg">Crunching numbers and checking compatibility...</p>
                        <div class="progress mt-2">
                            <div id="buildProgressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 0%">0%</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

<!-- Close content-center container opened at top -->
</div>

<!-- per-page JS loaded from static/js/pages/home.js -->
{% block extra_scripts %}
  <script src="{% static 'js/pages/home.js' %}"></script>
{% endblock %}

{% endblock %}
